.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
}

.navbar-logo {
  font-size: 24px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-menu li {
  cursor: pointer;
}

.navbar-menu .active {
  background-color: #555;
  padding: 5px 10px;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
